NET fpga_0_clk_1_sys_clk_p_pin LOC=E18;
NET fpga_0_clk_1_sys_clk_n_pin LOC=D18;

NET fpga_0_rst_1_sys_rst_pin LOC=W23 | PULLDOWN;

NET fpga_0_RS232_Uart_1_RX_pin LOC=M16;
NET fpga_0_RS232_Uart_1_TX_pin LOC=N16;

NET sata_0_GREFCLK_N_pin LOC=K5;
NET sata_0_GREFCLK_P_pin LOC=K6;

INST gtx_0*gt0*gtxe2_i LOC=GTXE2_CHANNEL_X0Y0;
INST gtx_0*gt1*gtxe2_i LOC=GTXE2_CHANNEL_X0Y1;

#NET RXP0_IN  LOC=R3;
#NET RXN0_IN  LOC=R4;
#NET TXP0_OUT LOC=P1;
#NET TXN0_OUT LOC=P2;
#
#NET RXP1_IN  LOC=N3;
#NET RXN1_IN  LOC=N4;
#NET TXP1_OUT LOC=M1;
#NET TXN1_OUT LOC=M2;
#
